@charset "UTF-8";
/*index mediaquerie

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 940px) {
    .container-title h1 {
        font-size: 2.5rem;
    }
}


@media (max-width: 768px) {
    .container_general {
        width: 100%;
    }
}


@media (max-width: 800px) {
    .iframe-index {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;

    }

    iframe {
        width: 100%;
    }
}

/*servicios mediaquerie
@media (max-width: 412px) {

    .container_servi {
        grid-template-columns: 1fr;
    }

}

/*footer mediaquerie

@media (max-width: 768px) {
    .footer-class {
        flex-direction: column;
        align-items: center;
    }

}*/
/*base*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Oswald, sans-serif, "Times New Roman", Times, serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: azure;
}

li {
  list-style-type: none;
}

body {
  background-color: azure;
  background-image: url("../assets/Images/blue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn {
  background-color: #191919;
  color: azure;
}

.btn:hover {
  background-color: burlywood;
  color: #191919;
  transition: 0.5s;
  border-color: none;
}

/*componentes*/
/*navbar*/
.navbar {
  background-color: #191919;
  transition: top 0.3s;
}
.navbar-brand {
  padding-left: 15px;
  color: azure;
}
.navbar-brand:hover {
  background-color: transparent;
  color: burlywood;
  transition: 0.5s;
}
.navbar-toggler {
  size: 5px;
  border-color: azure;
  background-color: azure;
}
.navbar .nav-link {
  color: azure;
  font-size: 23px;
  font-family: Oswald, sans-serif, "Times New Roman", Times, serif;
  padding-right: 15px;
}
.navbar .link {
  color: azure;
  text-decoration: none;
  text-decoration: none;
}

@media screen and (max-width: 576px) {
  .container-fluid {
    flex-direction: column;
  }
}

.offcanvas-body {
  background-color: #191919;
}

.offcanvas {
  background-color: azure;
  color: #191919;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: #191919;
  color: azure;
  width: 100%;
  gap: 20px;
  padding: 20px 10px;
}
@media screen and (max-width: 576px) {
  footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
}
footer .footer-links,
footer .footer-socials,
footer .footer-contact {
  color: azure;
  padding: 0;
}
footer .footer-links,
footer .footer-socials,
footer .footer-contact,
footer a:hover {
  color: burlywood;
  transition: 0.5s;
}

/*layout*/
/*index*/
/*body*/
.container-title {
  text-align: center;
  color: #191919;
  padding-top: 5%;
  padding-bottom: 4.5%;
}
.container-title h1 {
  font-size: 5.5rem;
  text-transform: uppercase;
  text-transform: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 576px) {
  .container-title h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .container-title h1 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 992px) {
  .container-title h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .container-title h1 {
    font-size: 4.8rem;
  }
}

.container_general {
  display: flex;
  justify-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
}
.container_general .container-card {
  width: 70%;
  height: 55%;
  text-align: center;
}
@media screen and (max-width: 576px) {
  .container_general .container-card {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container_general .container-card {
    width: 90%;
  }
}
@media screen and (max-width: 992px) {
  .container_general .container-card {
    width: 90%;
  }
}
@media screen and (max-width: 1200px) {
  .container_general .container-card {
    width: 93%;
  }
}
.container_general .card {
  object-fit: cover;
  background-color: azure;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 10px solid azure;
}
.container_general .card .card-title {
  font-size: 2.5rem;
}

.index-h2 {
  display: flex;
}
.index-h2 .google-title {
  align-items: center;
  text-align: center;
}

.palm_container {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 5%;
  overflow: hidden;
}
.palm_container img {
  display: block;
  width: 100%;
  height: auto;
}

.palm_container h2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;
  text-align: center;
  font-size: 150px;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 576px) {
  .palm_container h2 {
    font-size: 50px;
  }
}
@media screen and (max-width: 768px) {
  .palm_container h2 {
    font-size: 70px;
  }
}
@media screen and (max-width: 992px) {
  .palm_container h2 {
    font-size: 100px;
  }
}
@media screen and (max-width: 1200px) {
  .palm_container h2 {
    font-size: 120px;
  }
}

.about-us-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.about-us-container .about-us {
  width: 100%;
  height: 50%;
  background-color: azure;
}
.about-us-container .about-us .about-us-text {
  padding: 30px 5px;
}

.iframe-index {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

iframe {
  width: 90%;
}

/*WhatsApp icon*/
.whats {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.custom-padding-top {
  padding-top: 5%;
  padding-bottom: 6%;
}

.form-label {
  text-decoration: underline;
}

.container-call {
  display: flex;
  text-align: center;
  background-color: #191919;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.call-to-action {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  flex-direction: column;
  background-color: azure;
  border-radius: 10px;
  padding-top: 15px;
}

.servicios-h1 {
  align-items: center;
  text-align: center;
  background-color: rgba(240, 255, 255, 0.5);
  padding: 30px;
}

.servi {
  width: 80%;
  height: 300px;
  border: 6px outset #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s;
}
.servi:hover {
  transform: scale(1.1);
}

.container_servi {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 30px auto;
}
.container_servi .servi-title {
  grid-column: span 4;
}

.servi h2 {
  z-index: 3;
  color: azure;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.servi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.info-service {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 30px;
}

.info_service {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info {
  padding: 20px 10px;
  background-color: azure;
  border-radius: 20px;
  border: 2px solid grey;
}

.container-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 30px;
}

.contacts-title {
  background-color: rgba(240, 255, 255, 0.5);
  align-items: center;
  text-align: center;
  padding: 30px;
  width: 100%;
}

.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  flex-direction: column;
}

.container-form label {
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 10px;
}

.container-form input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  margin-bottom: 10px;
  border: none;
  padding-left: 15px;
}

.section-form {
  width: 50%;
}

.btn-contact {
  background-color: #191919;
  color: azure;
  font-size: 18px;
  padding: 5px 40px;
  border-radius: 10px;
}

.btn-contact:hover {
  background-color: burlywood;
  color: #191919;
  transition: 0.5s;
  border-color: none;
}

/*Galería*/
.title-gallery {
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#carouselExampleAutoplaying {
  max-width: 50%;
  max-height: 450px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
