@charset "UTF-8";
/*base*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Oswald, sans-serif, "Times New Roman", Times, serif;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: azure;
}

li {
  list-style-type: none;
}

body {
  background-color: azure;
  background-image: url("../assets/Images/blue.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.btn {
  background-color: #191919;
  color: azure;
}

.btn:hover {
  background-color: burlywood;
  color: #191919;
  transition: 0.5s;
  border-color: none;
}

/*componentes*/
/*navbar*/
.navbar {
  background-color: #191919;
  transition: top 0.3s;
}
.navbar-brand {
  padding-left: 15px;
  color: azure;
}
.navbar-brand:hover {
  background-color: transparent;
  color: burlywood;
  transition: 0.5s;
}
.navbar-toggler {
  size: 5px;
  border-color: azure;
  background-color: azure;
}
.navbar .nav-list {
  color: azure;
  display: flex;
  font-size: 21px;
  list-style-type: none;
  gap: 70px;
}
.navbar .link {
  color: azure;
  text-decoration: none;
  text-decoration: none;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #191919;
  color: azure;
  height: 300px;
  width: 100%;
}
footer .footer-title {
  padding-left: 50px;
  padding-top: 50px;
}
footer .footer-links,
footer .footer-socials,
footer .footer-contact {
  color: azure;
  padding-top: 50px;
  margin-right: 50px;
}
footer .footer-links,
footer .footer-socials,
footer .footer-contact,
footer a:hover {
  color: burlywood;
  transition: 0.5s;
}

/*layout*/
/*index*/
/*body*/
.container-title {
  text-align: center;
  color: #191919;
  padding-top: 150px;
  padding-bottom: 60px;
}
.container-title h1 {
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-md {
  display: flex;
  align-items: center;
  background-color: azure;
  max-width: 70%;
  max-height: 55%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
}
.container-md .col-md-4 {
  padding-top: 5%;
  padding-right: 20px;
}

.index-h2 {
  display: flex;
}
.index-h2 .google-title {
  align-items: center;
  text-align: center;
}

.palm_container {
  width: 100%;
  height: 310px;
  padding-top: 5%;
  overflow: hidden;
  padding-top: 40px;
}
.palm_container img {
  width: 100%;
  height: auto;
}

.iframe-index {
  width: 40%;
  height: 300px;
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 50px;
  overflow: hidden;
  border-radius: 10px;
}
.iframe-index iframe {
  object-fit: cover;
  width: 100%;
}

.back-color {
  display: flex;
  align-items: center;
  width: 50%;
  height: 350px;
  background-color: azure;
}

/*WhatsApp icon*/
.whats {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: fixed;
  bottom: 15px;
  right: 15px;
}

.custom-padding-top {
  padding-top: 12%;
  padding-bottom: 6%;
}

.form-label {
  text-decoration: underline;
}

.container-call {
  display: flex;
  text-align: center;
  background-color: #191919;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.call-to-action {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  flex-direction: column;
  background-color: azure;
  border-radius: 10px;
  padding-top: 15px;
}

.container-h1 {
  padding-top: 8%;
}
.container-h1 .servicios-h1 {
  align-items: center;
  text-align: center;
  background-color: rgba(240, 255, 255, 0.5);
  padding: 30px;
}

.servi {
  width: 80%;
  height: 300px;
  border: 6px outset #191919;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.5s;
}
.servi:hover {
  transform: scale(1.1);
}

.container_servi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  gap: 10px;
  padding-top: 5%;
}
.container_servi .servi-title {
  grid-column: span 4;
}

.servi h2 {
  z-index: 3;
  color: azure;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

.servi img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.container-contacts {
  padding-top: 6.5%;
}
.container-contacts .contacts-title {
  background-color: rgba(240, 255, 255, 0.5);
  align-items: center;
  text-align: center;
  padding: 30px;
}

.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-contacts {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-template-rows: 300px 300px;
}

/*.contacts-title2 h2{
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 2%;
    align-items: center;
    text-align: center;
}*/
/*Galería*/
.title-gallery {
  padding-top: 130px;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#carouselExampleAutoplaying {
  max-width: 50%;
  max-height: 450px;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
}

/*servicios mediaquerie*/
@media (max-width: 412px) {
  .servi {
    align-items: center;
  }
}
/*navbar mediaquerie*/
@media (min-width: 768px) {
  .navbar-toggler {
    display: block;
  }
}
/*index mediaquerie*/
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .container-md {
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .col-md-8 img {
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  .col-md-4 p h2 {
    margin-top: 10px;
  }
}
/*footer mediaquerie*/
@media (max-width: 768px) {
  .footer-class {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .iframe-index {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
  }
  iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
