.container-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 30px;
}


.contacts-title {
    background-color: rgba(240, 255, 255, 0.5);
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;

}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 100%;
    flex-direction: column;
}

.container-form label {
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 10px;
}

.container-form input {
    width: 100%;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 10px;
    border: none;
    padding-left: 15px;
}

.section-form {
    width: 50%;

}

.btn-contact{
    background-color: $mainColor;
    color: $secondaryColor;
    font-size: 18px;
    padding: 5px 40px;
    border-radius: 10px;
}

.btn-contact:hover{
    background-color: burlywood;
    color: $mainColor;
    transition: 0.5s;
    border-color: none;
}
