.container-contacts {
    padding-top: 6.5%;

    .contacts-title {
        background-color: rgba(240, 255, 255, 0.5);
        align-items: center;
        text-align: center;
        padding: 30px;

    }

}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contacts {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 300px 300px;
}

/*.contacts-title2 h2{
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-top: 2%;
    align-items: center;
    text-align: center;
}*/