/*index*/

/*body*/

.container-title {
    text-align: center;
    color: $mainColor;
    padding-top: 5%;
    padding-bottom: 4.5%;

    h1 {
        font-size: 5.5rem;
        text-transform: uppercase;
        text-transform: bolder;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

        @include sm {
            font-size: 3rem;
        }

        @include md {
            font-size: 3.2rem;
        }

        @include lg {
            font-size: 4rem;
        }

        @include xl {
            font-size: 4.8rem;
        }
    }
}

.container_general {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;

    .container-card {
        width: 70%;
        height: 55%;
        text-align: center;

        @include sm {
            width: 100%;
        }

        @include md {
            width: 90%;
        }

        @include lg {
            width: 90%;
        }

        @include xl {
            width: 93%;
        }

    }

    .card {
        object-fit: cover;
        background-color: $secondaryColor;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
        border: 10px solid $secondaryColor;

        .card-title {
            font-size: 2.5rem;
        }

    }
}


.index-h2 {
    display: flex;

    .google-title {
        align-items: center;
        text-align: center;
    }
}


.palm_container {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 5%;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        height: auto;
    }

}

.palm_container h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $secondaryColor;
    text-align: center;
    font-size: 150px;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

    @include sm {
        font-size: 50px;
    }

    @include md {
        font-size: 70px;
    }

    @include lg {
        font-size: 100px;
    }

    @include xl {
        font-size: 120px;
    }
}

.about-us-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-bottom: 30px;

    .about-us {
        width: 100%;
        height: 50%;
        background-color: $secondaryColor;

        .about-us-text {
            padding: 30px 5px;
        }
    }

}


.iframe-index {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
}

iframe {
    width: 90%;

}

/*WhatsApp icon*/

.whats {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}