/*index*/

/*body*/

.container-title {
    text-align: center;
    color: $mainColor;
    padding-top: 150px;
    padding-bottom: 60px;

    h1 {
        font-size: 3.5rem;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}

.container-md {
    display: flex;
    align-items: center;
    background-color: $secondaryColor;
    max-width: 70%;
    max-height: 55%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 40px;

    .col-md-4 {
        padding-top: 5%;
        padding-right: 20px;
    }

}

.index-h2 {
    display: flex;

    .google-title {
        align-items: center;
        text-align: center;
    }
}


.palm_container {
    width: 100%;
    height: 310px;
    padding-top: 5%;
    overflow: hidden;
    padding-top: 40px;

    img {
        width: 100%;
        height: auto;
    }
}


.iframe-index {
    width: 40%;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    border-radius: 10px;

    iframe {
        object-fit: cover;
        width: 100%;

    }
}

.back-color {
    display: flex;
    align-items: center;
    width: 50%;
    height: 350px;
    background-color: $secondaryColor;
}

/*WhatsApp icon*/

.whats {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 15px;
}