/*navbar mediaquerie*/

@media screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }
}

@media screen and (max-width: 1999px) {
    .navbar-toggler {
        display: none;
    }
}

/*index mediaquerie*/

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 940px) {
    .container-title h1 {
        font-size: 2.5rem;
    }
}


@media (max-width: 768px) {
    .container_general {
        width: 100%;
    }
}


@media (max-width: 800px) {
    .iframe-index {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;

    }

    iframe {
        width: 100%;
    }
}

/*servicios mediaquerie*/
@media (max-width: 412px) {

    .servi {
        align-items: center;
    }

}

/*footer mediaquerie*/

@media (max-width: 768px) {
    .footer-class {
        flex-direction: column;
        align-items: center;
    }

}