
/*navbar mediaquerie*/

@media (min-width: 768px) {
    .navbar-toggler {
        display: block;
    }
}

/*index mediaquerie*/

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (max-width: 800px) {
    .iframe {
        width: 100%;
        margin-top: 20px;
        margin-left: 0;

    }
}

@media (max-width: 768px) {
    .container-md {
        width: 100%;
    }
}

/*servicios mediaquerie*/
@media (max-width: 412px) {

    .servi {
        align-items: center;
    }    

}


