.custom-padding-top {
    padding-top: 5%;
    padding-bottom: 6%;
}

.form-label {
    text-decoration: underline;
    font-size: 18px;
}

.container-call {
    display: flex;
    text-align: center;
    background-color: $mainColor;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    
}

.call-to-action {
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    flex-direction: column;
    background-color: $secondaryColor;
    border-radius: 10px;
    padding-top: 15px;

}