/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    color: azure;
    height: 300px;
    width: 100%;

    &-title {
        padding-left: 50px;
        padding-top: 50px;
    }

    &-links,
    &socials,
    &-contact {
        color: azure;
        padding-top: 50px;
        margin-right: 50px;
        list-style-type: none;
        text-decoration: none;
        color: azure;
    }

    &-links,
    &-socials,
    &-contact,
    a:hover {
        color: burlywood;
        transition: 0.5s;
    }
}