/*footer*/

footer{
    display: flex;
    justify-content: space-between;
    background-color: $mainColor;
    color: $secondaryColor;
    height: 300px;
    width: 100%;

    .footer-title {
        padding-left: 50px;
        padding-top: 50px;
    }

    .footer-links,
    .footer-socials,
    .footer-contact {
        color: $secondaryColor;
        padding-top: 50px;
        margin-right: 50px;
    }

    .footer-links,
    .footer-socials,
    .footer-contact,
    a:hover {
        color: burlywood;
        transition: 0.5s;
    }


}