/*navbar*/
.navbar {
    background-color: $mainColor;
    transition: top 0.3s;

    &-brand {
        padding-left: 15px;
        color: $secondaryColor;
    }

    &-brand:hover {
        background-color: transparent;
        color: burlywood;
        transition: 0.5s;
    }

    &-toggler {
        size: 5px;
        border-color: $secondaryColor;
        background-color: $secondaryColor;
    }

    .nav-link {
        color: $secondaryColor;
        font-size: 22px;
        font-family: $mainFont;
        margin-right: 30px;
        font-weight: bold;
    }


    .link {
        color: $secondaryColor;
        text-decoration: none;
        text-decoration: none;
    }

}

.offcanvas-body {
    background-color: $mainColor;
}

.offcanvas {
    background-color: $secondaryColor;
    color: $mainColor;
}