/*navbar*/
.navbar {
    background-color: $mainColor;
    transition: top 0.3s;
   
    &-brand {
        padding-left: 15px;
        color: $secondaryColor;
    }

    &-brand:hover {
        background-color: transparent;
        color: burlywood;
        transition: 0.5s;
    }

    &-toggler {
        size: 5px;
        border-color: $secondaryColor;
        background-color: $secondaryColor;
    }

    .nav-link {
        color: $secondaryColor;
        font-size: 23px;
        font-family: $mainFont;
        padding-right: 15px;

    }


    .link {
        color: $secondaryColor;
        text-decoration: none;
        text-decoration: none;
    }

}

.container-fluid{
    @include sm {
        flex-direction: column;
    }
}

.offcanvas-body {
    background-color: $mainColor;
}

.offcanvas{
    background-color: $secondaryColor;
    color: $mainColor;
}