/*navbar*/
.navbar {
    background-color: #191919;
    transition: top 0.3s;

    &-brand {
        padding-left: 15px;
        color: azure;
    }

    &-brand:hover {
        background-color: transparent;
        color: burlywood;
        transition: 0.5s;
    }

    &-toggler {
        border-color: azure;
        background-color: azure;
    }

    &-list {
        color: azure;
        display: flex;
        font-size: 21px;
        list-style-type: none;
        gap: 70px;
    }


    .link {
        color: azure;
        text-decoration: none;
        text-decoration: none;
    }

}